@charset "UTF-8";

/* todas as demais midias */

/* Tipical device breakpoints:
celular ate 600px
celular : de 600px ate 768px
tablet 768px ate 992px
desktop 992px ate 1200px
grandes telas acima de 1200px
*/

@media print {  /*impressao*/
    * {
        font-family: 'Courier New', Courier, monospace;
    }
    body {
        background-image: url(../imagens/back-print.jpg); /* desnecessario fundo para impressao*/
    }
    main {
        border: 2px solid black
    }
    main h1 {
        text-shadow: none;
        color: black;
    }

    
}
@media screen and (min-width: 768px) and (max-width: 992px)   { /*tablet */ 
    body {
        background-image: url(../imagens/back-tablet.jpg);
    }
    img#phone { display: none;}
    img#tablet { display: block;}
    img#print { display: none;}
    img#pc { display: none;}
    img#tv { display: none;}
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../imagens/back-pc.jpg);
    }
    img#phone { display: none;}
img#tablet { display: none;}
img#print { display: none;}
img#pc { display: block;}
img#tv { display: none;}
}
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../imagens/back-tv.jpg);
    }
    img#phone { display: none;}
img#tablet { display: none;}
img#print { display: none;}
img#pc { display: none;}
img#tv { display: block;}
}